@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .main-header {
    @apply text-4xl font-mono font-extrabold text-white tracking-widest text-center;
  }
  .sub-header {
    @apply text-2xl font-serif text-blue-500 text-center;
  }
  .btn {
    @apply font-bold py-2 px-4 rounded-none;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-red {
    @apply bg-red-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
  .btn-red:hover {
    @apply bg-red-700;
  }
  .disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

body {
  background-color: rgb(20, 20, 20);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation {
  position: fixed;
  display: flex;
  flex-flow: row;
  width: 100vw;
  column-gap: 0.25rem;

  text-transform: uppercase;  
  background-color: black;
}
.navigation li {
  display: flex;
  height: 3rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255, 0.5);
}

.navigation li:hover {
  background-color: white;
  color: black;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

.navigation li:last-child {
  margin-left: auto;
}

.navigation .active-navbar-button {
  background-color: rgb(230, 230, 255);
  color: black;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

.main-wrapper {
  margin-top: 3rem
}

.trivia-wrapper {
  display: flex;
  flex-direction: column;
  background-color: rgb(50, 50, 50);
  font-family: 'Open Sans', sans-serif;
  height: 65vh;
  overflow-y: scroll;
}

.trivia-wrapper .trivia-question {
  @apply text-2xl font-serif text-blue-400 text-center;
}

.trivia-wrapper .trivia-answer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 5rem;
}

.trivia-wrapper .trivia-answer {
  box-sizing: border-box;
  border: 1px solid rgb(255, 255, 255, 0.5);
  border-radius: 0.75rem;
  background-color: black;
  min-width: 10rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  /* font-weight: 500; */
  font-size: 1.5rem; /* 1rem = 16px */
}

.trivia-wrapper .trivia-answer:hover {
  background-color: rgb(50, 50, 65);
  letter-spacing: 0.05rem;
  font-weight: bold;
}

/* On clicking a trivia-answer button, change its properties */
.trivia-wrapper .trivia-answer.selected {
  background-color: rgb(230, 230, 255);
  color: black;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

/* Changing the below properties when on a small screen */
@media (max-width: 640px) {
  .navigation {
    flex-flow: column;
    height: 100vh;
    width: 8rem;
    row-gap: 0.25rem;
    
    text-transform: uppercase;
    background-color: black;
  }

  .navigation li {
    display: flex;
    height: 3rem;
    /* width: 100%; */
    justify-content: center;
    align-items: center;
  }

  .navigation li:hover {
    background-color: white;
    color: black;
  }

  .navigation li:last-child {
    margin-top: auto;
  }

  .main-wrapper {
    margin-left: 8rem;
    margin-top: 0rem;
  }
}