@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .main-header {
    @apply text-4xl font-mono font-extrabold text-white tracking-widest text-center;
  }
  .sub-header {
    @apply text-2xl font-serif text-blue-500 text-center;
  }
  .btn {
    @apply font-bold py-2 px-4 rounded-none;
  }
  .btn-blue {
    @apply bg-blue-500 text-white;
  }
  .btn-red {
    @apply bg-red-500 text-white;
  }
  .btn-blue:hover {
    @apply bg-blue-700;
  }
  .btn-red:hover {
    @apply bg-red-700;
  }
  .disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

:root {
  /* Variables */
  --primary-color: rgb(20, 20, 20, 1);
  --secondary-color: rgb(0, 0, 0, 1); 
  --answer-color: rgb(0, 0, 0, 0.35);
  --answer-border-color: rgb(255, 255, 255, 0.15);
  --answer-hover-color: rgb(50, 50, 65, 0.3);
  --answer-correct-color: rgba(0, 225, 0, 0.75);
  --answer-incorrect-color: rgb(255, 0, 0, 0.5);
  --trivia-wrapper-bg-color: rgb(50, 50, 50, 0.75);
  --hover-color: rgb(255, 255, 255, 1);
  --select-color: rgb(230, 230, 255, 1);
}

body {
  background-color: var(--primary-color);
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation {
  position: fixed;
  display: flex;
  flex-flow: row;
  width: 100vw;
  column-gap: 0.25rem;
  z-index: 1;
  text-transform: uppercase;  
  background-color: var(--secondary-color);
}

.menu-icon {
  display: none;
}

.navigation li {
  display: flex;
  height: 3rem;
  width: 8rem;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255, 0.5);
  transition: 0.25s;
}

.navigation li:hover {
  background-color: var(--hover-color);
  color: black;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

.navigation li:last-child {
  margin-left: auto;
}

.navigation .active-navbar-button {
  background-color: var(--select-color);
  color: black;
  letter-spacing: 0.05rem;
  font-weight: bold;
}

.main-wrapper {
  margin-top: 3rem
}

.trivia-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--trivia-wrapper-bg-color);
  font-family: 'Open Sans', sans-serif;
  height: 65vh;
  overflow-y: scroll;
}

.trivia-wrapper > li {
  padding-top: 1rem;
}

.trivia-wrapper .trivia-question {
  @apply text-2xl font-serif text-blue-400 text-center;
}

.trivia-wrapper .trivia-answer-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 1rem;
  row-gap: 0.75rem;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.trivia-wrapper .trivia-answer {
  box-sizing: border-box;
  border: 2px solid var(--answer-border-color);
  border-radius: 0.25rem;
  background-color: var(--answer-color);
  min-width: 10rem;
  padding: 1rem;
  cursor: pointer;
  text-align: center;
  /* font-weight: 500; */
  font-size: 1.5rem; /* 1rem = 16px */
  transition: 0.25s;
}

.trivia-wrapper .trivia-answer:hover {
  background-color: var(--answer-hover-color);
  font-weight: 600;
}

/* On clicking a trivia-answer button, change its properties */
.trivia-wrapper .trivia-answer.selected {
  background-color: var(--select-color);
  color: black;
  letter-spacing: 0.01rem;
  font-weight: bold;
}

.show {
  background-color: var(--answer-incorrect-color) !important;
  letter-spacing: 0.01rem;
  font-weight: bold;
}

.correct {
  background-color: var(--answer-correct-color) !important;
  color: black;
  letter-spacing: 0.01rem;
  font-weight: bold;
}

/* Refresh / loading icon & hamburger menu icon */
img {
  filter: brightness(100%) invert(1);
}

/* Reduce the margin-bottom of the last question */
.trivia-wrapper > li:nth-last-child(2) > .trivia-answer-wrapper {
  margin-bottom: 1rem;
}

.submit-li {
  @apply flex justify-end text-lg mx-6 mb-2;
}

/* Changing the below properties when on a small screen */
@media (max-width: 640px) {
  .navigation {
    display: flex;
    /* position: fixed; */
    transform: translate(-9rem, 0);
    flex-flow: column;
    height: 100vh;
    width: 9rem;
    row-gap: 0.25rem;
    transition: transform 0.5s ease;
    
  }

  .menu-icon {
    display: block;
    position:absolute;
    top: 0rem;
    left: 0rem;
    padding: 0.5rem;
    width: 3rem;
    background-color: var(--secondary-color);
    cursor: pointer;
    transition: 0.5s ease;
  }

  .menu-icon.to-side {
    transform: translate(9rem, 0);
  }

  .navigation.to-side {
    
    transform: translate(0rem, 0);
  }

  .navigation li {
    display: flex;
    height: 3rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .navigation li:last-child {
    margin-top: auto;
  }

  .main-wrapper {
    /* margin-left: 5rem; */
    margin-top: 0rem;
  }

  .trivia-wrapper {
    height: 70vh;
  }

  .trivia-wrapper .trivia-question {
    @apply text-xl font-serif text-blue-400 text-center;
  }

  .trivia-wrapper .trivia-answer {
    min-width: 25rem; /* Increasing min-width to force wrap, make it list-like */
    font-size: 1rem; /* 1rem = 16px */
  }
}
